{% extends 'layoutN.html' %}

{% block body %}

<center><h1>WELCOME TO DIGITAL-LYNC</h1></center></div>
<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;"></div>
    <!-- <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div> -->
  <div class="col-sm-6" style="background-color:lavender;">
    <div class="form-group">

	<center><h1>login</h1></center></div>
	
	<center><button><a class="btn btn-success" href='/EMPlogin'>EMPOLYEE-LOGIN</a></button></center><br><br>
	<center><button><a class="btn btn-success" href='/login'>&nbsp;&nbsp;&nbsp;ADMIN-LOGIN&nbsp;&nbsp;&nbsp;</a></button></center>
<br><br>
 </div>
   <div class="col-sm-3" style="background-color:lavender;"></div>
   </div>
</div>

{% endblock %}