{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;"></div>
    <!-- <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div> -->
  <div class="col-sm-6" style="background-color:lavender;">
    <div class="form-group">
  	<br><br>
	
   <center><h1>Employee-Signup</h1></center></div>

   <!-- {{form.name}} -->
   {% from "includes/_formhelper.html" import render_field %}
   <form method="POST" action="">
        
       <div class="form-group">
           {{render_field(form.email, class_="form-control")}}
       </div>
       <div class="form-group">
           {{render_field(form.password, class_="form-control")}}
       </div>
       

        <p><input type="submit" class="btn btn-primary" value="INSERT"></p>
   </form>
    </div>
   <div class="col-sm-3" style="background-color:lavender;"></div>
   </div>
</div>


{% endblock %}